:root {
    --main-color: #6701e1;
    --main-bg:#d1acff;
    --second-color: #2e069d;
    --second-bg:#b49afc;
    --third-color: #8b01e1;
    --third-bg:#e6bbff;
    --fourth-color: #0146E1;
    --fourth-bg:#adc3f8;
    --fifth-color: #01319D;
    --fifth-bg:#9ab8ff;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

body {
    background-color: aliceblue;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    border: solid 10px var(--fourth-color);
    background-color: var(--fourth-bg);
    color: var(--main-color);
    border-radius: 20px 0 20px 0;
}

.header h1 {
    align-self: center;
    margin-left: 5px;
}

.header ul {
    list-style-type: none;
}

.hero-container {
    display: flex;
    justify-content: center;
    border: solid 10px var(--fifth-color);
    background-color: var(--fifth-bg);
    color: var(--second-color);
    border-radius: 20px 0 20px 0;
}

.hero-cards {
    display: flex;
    flex-wrap: wrap;
}

.hero-cards>img {
    border: ridge 10px var(--fifth-color);
    border-radius: 3px;
}

.hero-card {
    height: 300px;
    width: 300px;
    flex: 0 0 300px;
    flex-wrap: wrap;
}

.work-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: solid 10px var(--second-color);
    background-color: var(--second-bg);
    color: var(--third-color);
    border-radius: 20px 0 20px 0;
}

.labels h2 {
    position: relative;
    top: 50%;
    transform:rotate(-45deg);
}

.work-card {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-title {
    text-align: center;
}

/* ----- saving this for when I'm ready to add descriptions of my work ----

.work-desc {
    border: solid 1px var(--main-border-color);
}
*/

.resume {
    display: flex;
    flex-wrap: wrap;
    border: solid 10px var(--main-color);
    background-color: var(--main-bg);
    color: var(--fourth-color);
    border-radius: 20px 0 20px 0;
    justify-content: center;
}

.cont-info {
    justify-content: center;
    text-align: center;
}

.cont-info a::before {
    content: "📧 ";
    line-height:0%;
}

.cont-res-card {
    width: 750px;
    overflow: hidden;
}

.resume-container a::after {
    content: "📝";
}

.resume-card {
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border: solid 10px var(--third-color);
    background-color: var(--third-bg);
    color: var(--fifth-color);
    border-radius: 20px 0 20px 0;
}

.footer-cards {
    align-self: center;
}

.footer-cards h3::before {
    content: "☎";
}

.footer-cards h3::after {
    content: "👇";
}

.social-links {
    display: flex;
    list-style-type: none;
}

.social-links img {
    width: 25px;
}