:root {
    
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    border: solid 1px;
}

.header ul {
    list-style-type: none;
}

.hero-container {
    display: flex;
    flex-direction: column;
    border: solid 1px;
}

.hero-cards {
    display: flex;
    justify-content: space-around;
}

.hero-card {
    
    border: solid 1px;
}

.work-container {
    display: flex;
    justify-content: center;
    border: solid 1px;
}

.work-card {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: solid 1px;
}

.work-title {
    border: solid 1px;
}

.work-desc {
    border: solid 1px;
}

.contact-resume {
    display: flex;
    border: solid 1px;
    justify-content: space-around;
}

.contact-container {
    border: solid 1px;
}

.resume-container {
    border: solid 1px;
}

.footer {
    display: flex;
    justify-content: space-between;
    border: solid 1px;
}

.footer ul {
    list-style-type: none;
}

.footer-cards {
    align-self: center;
    border: solid 1px;
}